In [ ]:
import numpy as np
import pandas as pd
import zipfile
import tarfile

In [ ]:
with tarfile.open('~/buckets/b1/datasets/competencia_02_crudo.csv.gz', 'r:gz') as tar:
     df_1 = pd.read_csv(tar.extractfile('competencia_02_crudo.csv'))

In [2]:
# Escribir ruta de donde se encuentra dataset crudo
#df_1 = pd.read_csv("/home/jorrin/Escritorio/Maestria DC/UBA_DMEyF_2024/UBA_DMEyF_2024/datasets/competencia_01_crudo.csv")

In [3]:
df_1.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,249221109,202101,1,0,0,61,300,1664.94,17994.40,1605.81,...,0.0,4.0,0.0,-37098.90,0.0,7867.0,118514.88,10.0,0.0,76538.25
1,249221468,202101,1,0,0,53,37,4879.78,18640.95,1149.08,...,0.0,4.0,0.0,-9864.93,0.0,1124.0,31427.14,14.0,0.0,0.00
2,249223005,202101,1,0,0,48,202,1828.35,37789.01,610.12,...,0.0,4.0,0.0,-32119.08,0.0,3486.0,855.11,2.0,0.0,19389.69
3,249228180,202101,1,0,0,66,320,175.87,2600.67,276.22,...,0.0,4.0,0.0,-10891.30,0.0,8925.0,7517.73,6.0,0.0,516.12
4,249232117,202101,1,0,0,79,373,16600.69,32270.07,16367.13,...,0.0,4.0,0.0,-43610.75,0.0,8607.0,37309.25,5.0,0.0,3084.99

In [3]:
df_ordenado = df_1.sort_values(by=['numero_de_cliente','foto_mes'])

In [4]:
nclien_fmes=np.array(df_ordenado[['numero_de_cliente','foto_mes']])

In [15]:
def ternaria(x0,mes_final):
    
    clase_ternaria = []

    #agreguemos dos filas al final para poder correr el algoritmo
    x = np.concatenate([x0,np.array(((np.nan,np.nan),(np.nan,np.nan)))],axis=0)

    for i in range(len(x[:,0])-2):
        # Condicion clase baja+2
        if ((x[i,1] ==mes_final) or (x[i,1] ==mes_final-1)):
            clase_ternaria.append(np.nan)
            
        elif ((x[i,0] ==x[i+1,0]) and (x[i,1] ==(x[i+1,1]-1) )):
            if ((x[i,0] ==x[i+2,0]) and (x[i,1] ==(x[i+2,1]-2) )):
                clase = "CONTINUA"
                clase_ternaria.append(clase)
            else:
                clase = "BAJA+2"
                clase_ternaria.append(clase)
        else: 
            #Consideremos el caso raro como continua
            if((x[i,0] ==x[i+1,0]) and (x[i,1] ==(x[i+1,1]-2) )):
                #clase = "caso raro"
                clase = 'CONTINUA'
                clase_ternaria.append(clase)
            else:
                clase_ternaria.append('BAJA+1')

    return(clase_ternaria)

In [17]:
clases = ternaria(nclien_fmes,202106)

In [18]:
df_ordenado['clase_ternaria'] =np.array(clases)

In [23]:
df_ordenado[df_ordenado['foto_mes']==202103]['clase_ternaria'].value_counts()

CONTINUA    161684
BAJA+1        1020
BAJA+2         981
Name: clase_ternaria, dtype: int64

In [24]:
df_ordenado.to_csv('~/buckets/b1/datasets/competencia_01.csv')

In [25]:
df_ordenado.columns

Index(['numero_de_cliente', 'foto_mes', 'active_quarter', 'cliente_vip',
       'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad',
       'mrentabilidad_annual', 'mcomisiones',
       ...
       'Visa_fultimo_cierre', 'Visa_mpagado', 'Visa_mpagospesos',
       'Visa_mpagosdolares', 'Visa_fechaalta', 'Visa_mconsumototal',
       'Visa_cconsumos', 'Visa_cadelantosefectivo', 'Visa_mpagominimo',
       'clase_ternaria'],
      dtype='object', length=155)